
.c-1-color { background: red !important; }
.c-2-color { background: yellow !important; }
.c-3-color { background: green !important; }
.c-4-color { background: blue !important; }
.c-5-color { background: purple !important; }