
.c1 { background: red !important; }
.c2 { background: yellow !important; }
.c3 { background: green !important; }
.c4 { background: blue !important; }
.c5 { background: purple !important; }
.c6 { background: purple !important; }