<div class="create-model">
    <div>
        <div class="f-40 text-center title">
            Looks like you have not
            <br>created any model.
        </div>
        <p class="text-center m-t-50 f-20 title">It just take 3 simple steps</p>
    </div>
    <br>
    <div class="row">
        <div class="wizard-container center m-t-50">
            <div class="wizard-progress">
                <div class="step complete">
                    <div class="node text-center">
                        <i class="fa fa-check"></i>
                    </div>
                    <div>Modelling</div>
                </div>
                <div class="step complete">
                    <div class="node">
                        <i class="fa fa-check"></i>
                    </div>
                    Deployment
                </div>
                <div class="step complete">
                    <div class="node">
                        <i class="fa fa-check"></i>
                    </div>
                    Monitoring
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- round card start -->
    <div class="row users-card m-t-50">
        <div class="col-12">
            <div (click)="moveNext()" class="card rounded-card user-card color-green create-model-card center pointer">
                <div class="card-body text-center">
                    <i class="fa fa-cube fa-5x"></i>
                    <h4 class="info-title m-t-30">CREATE MODEL</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Round card end -->

    <div class="m-t-100 text-center">
        <a href="#" class="crs-text-primary">Learn why you need models?</a>
    </div>

</div>